/* Global Styles */

html,
body {
    height: 100%;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/* header */

.navbar-fixed-bottom, .navbar-fixed-top {
    position: relative;
}

/* footer */

footer {
    margin-top: 20px;
}